{% extends "index.html" %}

{% block content %}
<main>
  <script defer>
    let i = 9;
    document.addEventListener('DOMContentLoaded', setInterval(() => {
      const element = document.querySelector("#countdown>p");
      if (i >= 0){
        element.innerHTML = `<p>Redirecting in ${i--}</p>`
      } else{
        window.location.href = "{{url_for('auth.login')}}"
      };
    }, 1000));
  </script>
  <h2>Account activated</h2>
  <p>Your account has been verified</p>
  <div id = "countdown">
    <p>Redirecting in 10</p>
  </div>
</main>
{% endblock %}