{% extends "index.html" %}

{% block content %}
<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method ="POST" >
    <h2>Sign in</h2>
    <label for = "login">Login</label>
    <input type = "text" id = "login" name = "login" placeholder = "E-mail or Username">
    <label for = "passw">Password</label>
    <input type = "password" id = "passw" name = "passw">
    <button type = "submit">Enter</button>
    <a href = "{{url_for('auth.forgotPassword')}}">Forgot password?</a>
    <p>Do not have an account? <a href = "{{url_for('auth.register')}}">Sign up</a></p>
  </form>
</main>
{% endblock %}