{% extends "index.html" %}

{% block content %}
<main>
  {% for message in get_flashed_messages() %}
    {{message}}
  {% endfor %}
  <form method="POST" >
    <h2>Login</h2>
    <label for="login">login</label>
    <input type="text" id="login" name="login" placeholder = "E-mail or Username">
    <label for="passw">Senha</label>
    <input type="password" id="passw" name="passw">
    <button type="submit">Enter</button>
    <a href="{{url_for('auth.register')}}">register?</a>
  </form>
</main>
{% endblock %}