{% extends "index.html" %}

{% block content %}
<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method = "POST" >
    <h2>Sign up</h2>
    <label for = "name">Name</label>
    <input type = "text" id = "name" name = "name">
    <label for = "email">E-mail</label>
    <input type = "text" id = "email" name = "email">
    <label for = "confirm_email">Confirm your E-mail</label>
    <input type = "text" id = "confirm_email" name = "confirm_email">
    <label for = "passw">Password</label>
    <input type = "password" id = "passw" name = "passw">
    <label for = "confirm_passw">Confirm your password</label>
    <input type = "password" id = "confirm_passw" name = "confirm_passw">
    <button type = "submit">Sign up</button>
    <p>Already have an account? <a href = "{{url_for('auth.login')}}">Sign in</a></p>
  </form>
</main>
{% endblock %}