{% extends "index.html" %}

{% block content %}
<main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h2>Reset Password</h2>
  <form  method = "POST">
   <label for = "new_passw">New Password</label>
   <input type = "password" id = "new_passw" name = "new_passw">
   <label for = "confirm_new_passw">Confirm New Password</label>
   <input type = "password" id = "confirm_new_passw" name = "confirm_new_passw">
   <button type = "submit">Enter</button>
  </form>
</main>
{% endblock %}